<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bleizing.parkirqyu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:configChanges="orientation"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TarifParkirFormActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.TarifParkirActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.UbahPasswordActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.UserDetailActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.TopupActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.CheckOutActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.ParkirScannerActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.KendaraanDetailActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.KendaraanFormActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.KendaraanActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.KaryawanDetailActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.KaryawanFormActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.KaryawanActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity android:name=".activities.AllKendaraanParkirActivity"
            android:theme="@style/ParkirqyuTheme" />
        <activity android:name=".activities.LogTransaksiActivity"
            android:theme="@style/ParkirqyuTheme" />
    </application>

</manifest>